body{
    background-color: #f0f8ff;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
hr {
    border-style: solid;
    border-color: rgb(204, 198, 198);
    width: 50%;
    height: 0;
 }